.loginForm{
	padding: 10px;
  	border: 1px solid pink;
  	border-radius: 10px;
  	float: left;
  	margin-top: 10px;
}
.formHeading{
	background-color: red;
  	color: white;
  	padding: 4px;
  	text-align: center;
}
.login {
		background-color: blue;
		padding: 5px 40px 5px 40px;
		color: white;
		font-weight: bold;
		margin-left: 70px;
		border-radius: 5px;
	} 
